* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(60deg, lightyellow, skyblue);
    min-height: 100vh;
    height: 100%;
    font-family: "Karla", sans-serif;
    font-weight: 400;
    color: #525b76;
}

h1 {
    text-align: center;
    font-weight: 700;
}

#todo-container {
    width: 90%;
    margin: auto;
    margin-bottom: 7.5rem;
}

ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    width: 100%;
}

li {
    display: flex;
    width: 100%;
    background: white;
    margin-top: 10px;
    border: none;
    border-radius: 2px;
    align-items: center;
    padding: 1rem;
}

span {
    display: block;
    width: 80%;
    word-wrap: break-word;
    padding: 5px 0;
    margin: 0 1rem;
}

/* ------- button styling ----------- */

button {
    display: block;
    background: lightpink;
    border: none;
    padding: 0.5rem;
    border-radius: 2px;
}

.mark-btn {
    width: 24px;
    height: 24px;
    background: #ecf0f1;
    margin-right: auto;
}

.del-btn {
    margin-left: auto;
}

.delete {
    background: #dd6281 !important;
    color: white;
}

.marked .mark-btn {
    background: #45bcb1;
}
.marked span {
    text-decoration: line-through;
}
.marked {
    background: #ecf0f1;
}

/* --------- Add new todo styles --------- */

#add-todo {
    margin-top: 50px;
    position: fixed;
    bottom: 0;
    width: 90vw;
    left: 5%;
}

input[name="description"] {
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    border-radius: 2px;
}

input[type="submit"] {
    width: 100%;
    background: #525b76;
    color: white;
    padding: 1rem;
    font-size: 1.2rem;
    border: none;
}
