* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(60deg, lightyellow, skyblue);
  min-height: 100vh;
  height: 100%;
  font-family: "Karla", sans-serif;
  font-weight: 400;
  color: #525b76;
  margin: 0;
}

h1 {
  text-align: center;
  font-weight: 700;
  margin: 16px 0;
  font-size: 32px;
}

#todo-container {
  width: calc(100vw - 32px);
  margin: 0 16px 0 16px;
  margin-bottom: calc(117px);
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
  width: 100%;
}

li {
  display: flex;
  width: 100%;
  background: white;
  margin-top: 8px;
  border: none;
  border-radius: 2px;
  align-items: center;
  padding: 0rem;
  justify-content: space-between;
}

span {
  display: block;
  width: calc(90vw - 80px);
  word-break: break-word;
  padding: 8px 0;
  text-align: left;
  line-height: 1em;
  flex-grow: 1;
  font-size: 1rem;
}

/* ------- button styling ----------- */

button {
  display: block;
  border: none;
  border-radius: 2px;
  outline: none;
  padding: 0;
}

.mark-btn {
  width: 24px;
  height: 24px;
  background: #ecf0f1;
  margin: 8px;
}

.del-btn {
  background-image: url(img/cross.svg);
  background-size: cover;
  background-color: transparent;
  width: 24px;
  height: 34.1px;
  margin-top: calc((40px - 34.1px) / 2);
  margin-bottom: calc((40px - 34.1px) / 2);
  margin-left: 8px;
  margin-right: 8px;
}

.delete {
  background: hsla(356, 95%, 75%, 0.3) !important;
}

.delete .del-btn {
  /* funky styling here */
}

.marked .mark-btn {
  background: hsla(174, 47%, 50%, 0.6);
}

.marked span {
  text-decoration: line-through;
  color: hsla(174, 47%, 50%, 0.45);
}

.marked {
  background: #ecf0f1;
}

/* --------- Add new todo styles --------- */

#add-todo {
  margin: 0 16px;
  position: fixed;
  bottom: 0;
  width: calc(100vw - 32px);
}

input[name="description"] {
  width: calc(100vw - 32px);
  padding: 8px;
  font-size: 1rem;
  line-height: 1rem;
  border-radius: 2px;
  font-family: Karla, sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  border-style: solid;
  border-color: #525b76;
  border-width: thin;
  position: fixed;
  bottom: calc(1rem + 16px);
}

input[type="submit"] {
  width: 100%;
  background: #525b76;
  color: white;
  padding: 8px;
  font-size: 1rem;
  line-height: 1rem;
  border: none;
  border-radius: 2px;
  font-family: Karla, sans-serif;
  font-weight: 400;
}

input:focus,
input:focus-within {
  outline-color: #525b76 !important;
  box-shadow: none;
}

input[type="submit"]:active {
  // add funky styling here
}

#edit {
  width: 100%;
  padding: 4px;
  font-size: 1rem;
  border-radius: 2px;
  border: none;
  font-family: Karla, sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  text-align: left;
}

#edit:focus {
  border: none;
  outline-width: medium;
  color: #525b76;
}

li form {
  width: calc(100vw - 114px);
}

/* Media queries for larger screens */

@media (min-width: 850px) {
  body {
    overflow: hidden;
  }

  #todo-container {
    max-width: 32rem;
    margin: 0 auto;
    /* height: 538px; */
    overflow-y: scroll;
    margin-bottom: 0;
  }

  input[name="description"] {
    max-width: 32rem;
    bottom: calc(1rem + 24px);
  }

  #add-todo {
    max-width: 32rem;
    margin: 0;
    left: calc((100vw - 32rem) / 2);
    bottom: 8px;
  }

  h1 {
    min-width: calc((100vw - 32rem) / 2);
    max-height: 100vh;
    line-height: calc(100vh - 16px);
    text-align: center;
    padding: 8px;
    position: fixed;
    margin: 0;
    font-size: 3rem;
    top: 0;
  }

  span,
  li form {
    max-width: calc(32rem - 80px);
  }
}
